/**部分共用样式**/
/**底部条样式**/

.footer {
	position: fixed;
	bottom: 0px;
	height: 48px;
	line-height: 100%;
	width: 100%;
	border-top: 1px solid rgba(127, 127, 127, .5);
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 1);
}
.footer .glyphicon,
.item .glyphicon {
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 3px;
}
.footer ul,
.item ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	border: 0;
	max-width: 100%;
	overflow: visible;
}
.footer li,
.item li {
	width: 25%;
	float: left;
	min-height: 1px;
	height: 48px;
	line-height: 100%;
	font-size: 13px;
	display: inline-block;
	text-align: center;
}
.footer li:hover,
.footer li.selected,
.item li:hover,
.item li.selected {
	background-color: rgba(3, 142, 239, 1);
	color: rgba(255, 255, 255, 1);
}
.footer a,
.item a {
	font-size: 12.5px;
	display: block;
	margin: 0;
	border-right-width: 0;
	color: inherit;
	text-decoration: none;
}
.footer i,
.item i {
	font-size: 12.5px;
	display: block;
	font-family: 'Trebuchet MS', Helvetica, 'Microsoft YaHei', Georgia, sans-serif;
	margin-top: 5px;
}
.footer a:hover,
.item a:hover {
	text-decoration: none;
}